
@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="container">
    <div class="row">
        @ViewBag.Message
    </div>
    <div class="row">
        <div class="col-md-3" >
             My Submissions
        </div>
        <div class="col-md-1" > </div>
        <div class="col-md-8" id="divAssignments">
            @foreach (Assignment ass in (IEnumerable<Assignment>)ViewBag.Assignments)
            {
                <a href=@Url.Content(string.Format("/Assignment/StudentResponse/{0}", ass.AssignmentId))>Attempt</a> 
                <div> <center> <h3>  @ass.Title <small> @ass.TeacherName </small> </h3> </center>
                    <p> Deadline :  @ass.Deadline </p>
                    <p>Attempted By 20%,Submitted by 10%</p>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    //$.get("GetAssignments", null, printDetails);

    //function printDetails(data) {
    //    $("#divAssignments").empty();
    //    for (var i = 0 ; i < data.length ; i++) {
    //        var row = "<a href=\"#\"> <div> <center> <h3> " + data[i].Title + "<small>" + data[i].TeacherId + "</small> </h3> </center><p> Deadline : " + data[i].Deadline + "</p> <p>Attempted By 20%,Submitted by 10%</p> </div> </a>";
    //        $("#divAssignments").append(row);
    //    }
    //}
    
</script>