@model Assignment

@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="container">

    <div class="row">
        <div class="col-md-5">
            <h3>Browse Responses</h3>

            @Html.DropDownList("BatchId", (IEnumerable<SelectListItem>)ViewData["BatchList"], new { onchange = "getAssignments()", id = "ddlBatchId", @class = "form-control" })

            <div id="Assignments">
                Loading Assignments..
            </div>
        </div>
        <div class="col-md-7">
            <h3>Post New Question</h3>


            @using (Html.BeginForm("PostQuestion", "Assignment", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                <div class="form-group label-floating">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <label class="control-label" for="Title"><strong>Title</strong></label>
                        @Html.TextBoxFor(u => u.Title, new { @class = "form-control", id = "Title", placeholder = "Enter Title", required = "required" })
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="form-group label-floating">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <label class="control-label" for="Batch"><strong>Batch</strong></label>
                        @Html.DropDownList("Batch", (IEnumerable<SelectListItem>)ViewData["BatchList"], new { onchange = "getAssignments()", id = "Batch", required = "required", @class = "form-control" })
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="form-group label-floating">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <label class="control-label" for="Deadline"><strong>Deadline</strong></label>
                        <input type="date" name="Deadline" id="Deadline" class="form-control" required />
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="form-group label-floating">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <label class="control-label" for="QueFile"><strong>Document</strong></label>
                        <input type="file" class="form-control" id="QueFile" name="QueFile" accept=".pdf" />
                    </div>
                    <div class="col-sm-2"></div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <input type="submit" class="btn btn-primary" value="Post" />
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            }
            <div class="well">
                @ViewBag.Message
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    function uploadFile() {
        var file = document.getElementById("Document").value;
        $.post("/Assignment/UploadFile", { file: file }, null);
    }

    function getAssignments() {
        $.get("GetAssignmentsForTeacher", { batchId: $('#ddlBatchId').val() }, PrintAssingments, 'JSON');
    }

    getAssignments()

    function PrintAssingments(data) {
        $('#Assignments').empty();
        for (var i = 0 ; i < data.length ; i++) {
            var row = "<a href=\"#\"> <div> <center> <h3> " + data[i].Title + "<small>" + data[i].TeacherName + "</small> </h3> </center><p> Deadline : " + formatDate(Date(data[i].Deadline)) + "</p> <p>Attempted By 20%,Submitted by 10%</p> </div> </a>";
            $("#Assignments").append(row);
        }
    }

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    }

</script>
